#Configuration info
[ProjectInfo]
    Project = 20015

[FeatureCommon]
    ExifComment = oplus_
    4KP1nodeOutRrzoSize = 2560; 1440   #need to check
    #for pdaf AFAssistThd
    ForceDisableFaceDetect = true

[PerformanceCommon]
    NeedSkipFd = 0x8001; 0x8009; 0x8011; 0x800B
    #need to check SetFpsgoDefaultClose, DisableCameraOpt
    SetFpsgoDefaultClose = com.tencent.mobileqq
    DisableCameraOpt = true
    NeedSkipFillSmartPool = true
    EnableAppStreamUX = true
    Enable3AThreadUX = true
    EnableP2StreamUX = true

[DrvCommon]
    hs_trail = 0

[OemCommonCapbility]
   needReduceCaptureBuffer = true

[FeatureOplusSuperEis]
    Switch = false

[FeatureHfpsSupport]
    SwitchOplusHfps = true

[FeatureVideoNight]
    Switch = false

[FeatureStereoCalibrateDACSupport]
    Switch = true

[TuningAeSceneMode] #need to check
    Switch3rd[0]  =  1;              -1
    #           CapMode    SceneMode    camId(-1 represents all sensors)
    Mode[0] =   0x8009;     PARTY;      -1
    Mode[1] =   0x8007;     SPORTS;     -1
    Mode[2] =   0x80A3;     SPORTS;     -1
    Mode[3] =   0x80A4;     SPORTS;     -1
    Mode[4] =   0x802C;     SPORTS;     -1
    Mode[5] =   0x80A5;     SUNSET;     -1
    Mode[6] =   0x0;        THEATRE;    -1

[TuningSupernightMode] #do not know sensor, add all temporary
    #key          sensorId;    handled_ae_params0;    1;         2;         3;         4;         5;         6;      7;      8;      9;      10;     11;     Face_AeParams0;    1;         2;         3;         4;         5;         6;      7;      8;      9;      10;     11;     flash_ae_params;    1;         2;         3;         4;         5;         6;      7;      8;      9;      10;     11;    TriPod_Ae_Param0;    1     #
    #           sensorId    handheld_ae_params[12]                                                         face_ae_params[12]                                                            tripod_ae_params[2]
    Mode[0]  =  0x560D43;   200000; 170000; 170000; 130000; 100000; 80000; 80;  80;  80;  80;  64; 64;     200000; 170000; 170000; 130000; 100000; 80000; 80;  80;  80;  80;  64; 64;    5000000; 16 # CARR_OV13B10_SENSOR_ID
    Mode[1]  =  0x0359;     200000; 170000; 170000; 130000; 100000; 80000; 32;  32;  32;  32;  32; 32;     200000; 170000; 170000; 130000; 100000; 80000; 32;  32;  32;  32;  32; 32;    5000000; 16 # CARR_IMX355_SENSOR_ID 

[FeatureNightModeAssitManualRatio] # need to check
    manualAEForNonTriop = 1

[FpsGoGroupSetting]
    Mode[0] =  0;  0x02020000;   1;        0x02040100;        5;          0x02004100;    1;      -1;           -1;      -1;         -1; -1;        -1   # 1,5
    Mode[1] =  1;  0x00414000;   1;        -1;               -1;          -1;           -1;      -1;           -1;      -1;         -1; -1;        -1   # PERF_MODE
    Mode[2] =  2;  0x02020000;   1;        0x02040100;        5;          0x00404000;   1150000; 0x00404100;   910000;  0x03008200; 95; -1;        -1   #StreamConfigCapModeCommon front camera
    Mode[3] =  3;  0x02020000;   1;        0x02040100;        5;          0x00404000;   1150000; 0x00404100;   1200000; -1;         -1; -1;        -1   # StreamConfigCapModeFastVideo
    Mode[4] =  4;  0x02020000;   1;        0x02040100;        5;          0x00404000;   1645000; 0x00404100;   1200000; -1;         -1; -1;        -1   # com.tencent.av.ui.AVActivity
    Mode[5] =  5;  0x0040c000;   1503000;  0x0040c100;        1660000;    0x03008200;   90;      -1;           -1;      -1;         -1; -1;        -1   # VideoFront

[FpsGoEnterCameraSetting]
    default[0]                         =     1

#[FpsGoCustomFpsSetting] not need

#[FpsGoNeonVideoSetting]not need


[FpsGoSysCameraSetting] #need to check
    #operation mode       operation_mode    fps    ceiling    loadAdjCnt  FpsGoGroup   openId
    Mode[0]         =     0x8001;           -1;       1;         5;        -1;            0             #StreamConfigCapModeCommon rear camera
    Mode[1]         =     0x8001;           -1;       1;         5;         2;            1             #StreamConfigCapModeCommon front camera
    Mode[2]         =     0x800c;           -1;       1;         5;         3;            0             #StreamConfigCapModeFastVideo
    Mode[3]         =     0x800b;           -1;       1;        11;         5;            1             #VideoFront

#[FpsGoSpecialAppSetting] not need

[FpsGoSpecialActivityApp]
    #                                                                         ceiling   loadAdjCnt FpsGoGroup camera id    width    height
    com.tencent.av.ui.AVActivity[0]                                        =     -1;         5;          4;       -1;        -1;      -1

[SuperNightCaptureNoPreview]
    #operation mode     operation_mode     SENSOR_ID
    Mode[0]         =     0x8019;            0x0359

[FeatureVideoFDPeriodConfig]
    #operation mode     operation_mode     value
    Mode[0]         =     -1;               1000

#[AI3AForceOffConfig] not need

[AppMapFastLaunchRequestNum]
    android                 = 4
    com.whatsapp            = 4
    com.tencent.mm          = 4

[OperationModeMapFastLaunchRequestNum]
    #operation mode       operation_mode    RequestNum
    Mode[0]         =     0x8009;           0               #StreamConfigCapModeProfessional

#[ChangeFpsRangeWhenMakeup] not need

[ChangeFpsRangeByName]
    # key  CallerPackageName or ActivityName    openId       fpsMin       fpsMax
    com.whatsapp.voipcalling.VoipActivityV2  =  1;           5;          24
    com.tencent.av.ui.AVActivity             = -1;           5;          15

[OrmsOperationModeMap]
    #[openid][operationmode] orms action
    #!!!Attention: operationmode must use lowercase and forbid end-line comments!!!
    Mode[-1][0x8001]    =    ORMS_ACTION_CAMERA_FPSGO_OFF_TEMP_6889

#[OrmsWechatVideoCallConfig] not need

[OrmsActivityNameConfigMap]
    # key  pkgName                                      orms action <=1280                orms action >1280
    com.google.android.libraries.youtube.edit.gallery.GalleryActivity =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER; ORMS_ACTION_3RD_CAM_VIDEO_RECORDER

[OrmsCallerPackageNameNameConfigMap]
    # key  pkgName                                      orms action <=1280                orms action >1280
    com.google.android.youtube                       =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_RECORDER

[OrmsPackageNameConfigMap]
    # key  pkgName                      orms action <=1280                orms action >1280
    com.facebook.katana    =  ORMS_ACTION_3RD_CAM_VIDEO_RECORDER;    ORMS_ACTION_3RD_CAM_VIDEO_RECORDER

#[OrmsRunDelayframes] #optimize stuck while openning 3rd app camera in low mem, delay serveral frame before setting orm

[DisEnabledFSC] #need to check
    packageName[0]=com.google.android.youtube

[EepromDataStyle]
    RStyle = true
    defaultModule = false

[ModuleShowInfoMap] #need to check
    #                    sensorID        sensorName     sensorVersion
    sensorIdx[0]  =      0x560D43;       CARR_OV13B10;       0.91
    sensorIdx[1]  =      0x0359;         CARR_IMX355;        0.91
    sensorIdx[2]  =      0x0355;         CARR_IMX355;        0.91
    sensorIdx[3]  =      0x02e3;         CARR_GC02M1B;       0.91
    sensorIdx[4]  =      0x002C;         CARR_OV02B10;       0.91

[None4CellNormalVideo]
    WatermarkCamId = 0x0355

[SystemCamSensorSettingMap]
    # key      CapMode    thirdAppCall      camId       yuvSizeW     imgSizeW      video       imageRation      scenarioId
    Mode[0]  = 0x8021;         -1;          -1;           -1;           -1;         -1;             -1;               6    # CapMode60FpsVideo
    Mode[1]  = 0x8028;         -1;           2;           -1;           -1;         -1;             -1;               2    # CapModeVideoSuperEis
    Mode[2]  = 0x8028;         -1;          -1;           -1;           -1;         -1;             -1;               9    # CapModeVideoSuperEis
    Mode[3]  = 0x800B;         -1;          -1;           -1;           -1;         -1;             -1;               2    # CapModeCommonVideo
    Mode[4]  = 0x800C;         -1;          -1;           -1;           -1;         -1;             -1;               2    # CapModeFastVideo
    Mode[5] = 0x8012;         -1;          -1;           -1;           -1;         -1;             -1;               2    # CapModeVideoPortait
    Mode[6] = 0x802B;         -1;           1;           -1;           -1;         -1;             -1;               2    # CapModeVideoSuperEisFront
    Mode[7] = -1;             -1;          -1;           -1;           -1;          1;             -1;               2    # others

[ThirdCamSensorSettingMap] #need to check
    # key     pkgName                                        camId       video     thirdOpMode  imageRation     yuvSizeW         yuvSize       imgSize      scenarioId
    com.whatsapp[0]                             =             0;           1;          -1;           -1;            -1;            -1;            -1;            2    #
    com.whatsapp[1]                             =            -1;           1;          -1;           -1;            -1;            -1;            -1;            4    #
    com.tencent.mobileqq[0]                     =             0;          -1;          -1;           -1;            -1;            -1;            -1;            0    #
    com.tencent.mobileqq[1]                     =             1;          -1;          -1;           -1;            -1;            -1;            -1;            6    #
    com.android.cts.verifier[0]                 =             0;          -1;          -1;          570;            -1;            -1;            -1;            1    #
    com.android.cts.verifier[1]                 =             1;          -1;          -1;           -1;            -1;          1280;            -1;            0    #
    com.android.cts.verifier[2]                 =             1;          -1;          -1;          570;            -1;            -1;            -1;            0    #
    android.camera.cts[0]                       =             0;          -1;          -1;           -1;            -1;            -1;            -1;            1    #
    android.camera.cts[1]                       =             1;          -1;          -1;           -1;            -1;          1280;            -1;            0    #
    android.camera.cts[2]                       =             1;          -1;          -1;          570;            -1;            -1;            -1;            0    #
    autotest.oppo.com.simulatedlivebroadcast[0] =             0;          -1;          -1;           -1;            -1;            -1;            -1;            0    #
    ru.yandex.searchplugin[0]                   =             0;          -1;          -1;           -1;            -1;            -1;            -1;            0    #
    com.smile.gifmaker[0]                       =             1;          -1;          -1;           -1;            -1;          1280;            -1;            6    #
    com.tencent.mm[0]                           =             0;          -1;          -1;           -1;            -1;            -1;            -1;            0    #
    com.tencent.mm[1]                           =             1;          -1;          -1;           -1;            -1;            -1;            -1;            6    #
    jp.naver.line.android[0]                    =             1;          -1;          -1;           -1;            -1;          1280;            -1;            2    #
    com.oplus.engineercamera[0]                 =             0;          -1;          -1;           -1;            -1;            -1;            -1;            0    #
    com.xhey.xcamera[0]                         =             0;          -1;          -1;           -1;            -1;            -1;            -1;            0    #
    AllCamApp[0]                                =             0;          -1;           1;           -1;            -1;            -1;            -1;            2    #
    AllCamApp[1]                                =             0;          -1;          -1;          570;            -1;            -1;            -1;            1    #
    AllCamApp[2]                                =             0;          -1;          -1;           -1;            -1;            -1;            -1;            2    #
    AllCamApp[3]                                =             1;          -1;          -1;           -1;            -1;          1280;            -1;            6    #
    AllCamApp[4]                                =             1;          -1;          -1;          570;            -1;            -1;            -1;            0    #
    AllCamApp[5]                                =             1;          -1;          -1;           -1;            -1;            -1;            -1;            2    #
    AllCamApp[6]                                =            -1;          -1;          -1;           -1;            -1;            -1;            -1;            0    #
    com.ss.android.ugc.aweme[0]                 =             1;          -1;          -1;           -1;            -1;            -1;            -1;            6    #
    com.alibaba.android.rimet[0]                =             0;          -1;          -1;           -1;            -1;            -1;            -1;            0    #
    com.alibaba.android.rimet[1]                =             1;          -1;          -1;           -1;            -1;            -1;            -1;            6    #
    com.android.mms[0]                          =             0;          -1;          -1;           -1;            -1;            -1;            -1;            0    #
    com.coloros.ocrscanner[0]                   =             0;          -1;          -1;           -1;            -1;            -1;            -1;            0    #
    com.ai.marki[0]                             =             0;          -1;          -1;           -1;            -1;            -1;            -1;            0    #
    com.tencent.zebra[0]                        =             0;          -1;          -1;           -1;            -1;            -1;            -1;            0    #
    com.intsig.camscanner[0]                    =             0;          -1;          -1;           -1;            -1;            -1;            -1;            0    #

[FeatureEISTypeMap]#need to check
    #VideoEisMode    operation_mode    open_id    feature_mask    isMTKEIS    isTPEIS
    Mode[0] =           0x800B;            0;         0;             0;          0      #normal video rear
    Mode[1] =           0x800B;            1;         0;             0;          0      #normal video front
    Mode[2] =           0x800B;            0;         1;             0;          0      #4k video
    Mode[3] =           0x8021;            0;         0;             0;          0      #60fps video
    Mode[4] =           0x8028;            0;         0;             0;          0      #super eis
    Mode[5] =           0x802B;            1;         0;             1;          0      #super eis front

[FeatureEISDebug]
    supportMTKEIS = true
    supportTPEIS = false
    forceEis60FPS = false

[FeatureDSDNConfig]
    operationMode = 0x8001;0x8021
    DSDNenable = 1

[FeatureSMVRConfig]
    isNeedDropFrame = 0
    dropNum = 6
    isNeedSetProfile = false

[FeatureFaceBeautyConfig]
    BeautyShotDelay = 500

#[FeatureAiShutterConfig] not need

[FeatureSystemCamRrzoConfig] #need to check
    #[isCalled][openId][operationMode][custom_tag]        width     height
    Mode[0][0][0x800B][1] =                               1936;     1088;  #StreamConfigCapModeCommonVideo
    Mode[1][0][0x800B][1] =                               1280;     720;  #StreamConfigCapModeCommonVideo
    Mode[1][1][0x800B][1] =                               1280;     720;  #StreamConfigCapModeCommonVideo
    Mode[0][0][0x800B][3] =                               3840;     2160; #StreamConfigCapModeCommonVideo
    Mode[0][1][0x800B][1] =                               1280;     960;  #StreamConfigCapModeCommonVideo
    Mode[0][1][0x800B][2] =                               1920;     1080; #StreamConfigCapModeCommonVideo
    Mode[0][0][0x80A7][1] =                               1600;     900;  #StreamConfigCapModeVideoNight
    Mode[0][0][0x80A7][2] =                               2816;     1584; #StreamConfigCapModeVideoNight
    Mode[0][1][0x80A7][2] =                               1600;     900;  #StreamConfigCapModeVideoNight
    Mode[0][1][0x80A7][1] =                               2400;     1350; #StreamConfigCapModeVideoNight
    Mode[0][1][0x802B][1] =                               1600;     900;  #StreamConfigCapModeVideoSuperEisFront
    Mode[0][1][0x802B][2] =                               2400;     1350; #StreamConfigCapModeVideoSuperEisFront
    Mode[0][0][0x8019][7] =                               1920;     1440; #StreamConfigCapModeSuperNight
    Mode[0][1][0x8019][4] =                               1280;     960;  #StreamConfigCapModeSuperNight
    Mode[0][0][0x8028][2] =                               2100;     1184; #StreamConfigCapModeVideoSuperEis
    Mode[0][2][0x8028][2] =                               2714;     1528; #StreamConfigCapModeVideoSuperEis
    Mode[0][0][0x8007][7] =                               2560;     1920; #StreamConfigCapModePanorama
    Mode[0][0][0x800C][2] =                               1936;     1104; #StreamConfigCapModeCommonVideo
    Mode[0][0][0x800B][2] =                               1936;     1088; #StreamConfigCapModeCommonVideo

[FeatureThirdPartyCamRrzoConfig] #need to check
    #key pkgName[openId]                              width     height   base_resolution    comment(1:not_less_than, 2:upscale, 3:not_larger_than)
    com.ss.android.ugc.aweme[0]      =                1632;     1224;     1280;                   2;
    com.ss.android.ugc.aweme[1]      =                1632;     1224;     1280;                   2;
    com.tencent.mm[0]                =                1280;     960;      1280;                   2;
    com.tencent.mm[1]                =                1280;     960;      1280;                   2;
    com.tencent.ig[0]                =                1632;     1224;     1280;                   2;
    com.tencent.ig[1]                =                1632;     1224;     1280;                   2;
    com.tencent.mobileqq[0]          =                1280;     960;      1280;                   2;
    com.tencent.mobileqq[1]          =                1280;     960;      1280;                   2;
    com.whatsapp[0]                  =                1920;     1080;        0;                   3;
    com.whatsapp[1]                  =                1920;     1080;        0;                   3;
    com.xhey.xcamera[0]              =                1920;     1440;      2560;                  2;

[capModePIPSceneSpecialSize]
    #key                                width   height
    size[0]                       =     960;    1080;
    size[1]                       =     640;    720;
    size[2]                       =     480;    272;
    size[3]                       =     368;    368;
    size[4]                       =     320;    184;
    size[5]                       =     240;    240;
    size[6]                       =     640;    368;
    size[7]                       =     464;    464;
    size[8]                       =     432;    240;
    size[9]                       =     320;    320;

[oplusCheckStreamFrontCam]
    #key                                openId     width    height
    config[0]                     =     1;         2304;    1728;
    config[1]                     =     9;         2304;    1728;

[camIdxMapType]
    # 0x01,   "AT+CAMERA_OPEN"                    -- rear (main)
    # 0x02,   "AT+CAMERA_FRONT_OPEN"              -- front
    # 0x04,   "AT+CAMERA_F2_OPEN"                 -- front second
    # 0x08,   "AT+CAMERA_BACK_AUX_OPEN"           -- rear second (wide)
    # 0x10,   "AT+CAMERA_BACK_MONO1_OPEN"         -- rear third (mono1)
    # 0x20,   "AT+CAMERA_BACK_MONO2_OPEN"         -- rear fourth (mono2)
    # 0x40,   "AT+CAMERA_BACK_MACRO_OPEN"         -- rear macro
    # 0x80,   "AT+CAMERA_BACK_TELE_OPEN"          -- rear third (tele)

    #[srcIdx]                           camIdx    dstIdx
    index[0]                     =     0x01;     0x01;       #SENSOR_DEV_MAIN-main
    index[1]                     =     0x02;     0x02;       #SENSOR_DEV_SUB-front
    index[2]                     =     0x04;     0x08;       #SENSOR_DEV_SUB_2-BackMacro
    index[3]                     =     0x08;     0x04;       #SENSOR_DEV_MAIN_2-wide
    index[4]                     =     0x10;     0x10;       #SENSOR_DEV_MAIN_3-mono1
    index[5]                     =     0x20;     0x20;       #SENSOR_DEV_SUB_3

[subSensorName]
    #key                               substring
    subSensorList[0]              =    ov13b10;
    subSensorList[1]              =    IMX355;
    subSensorList[2]              =    gc02m1b;
    subSensorList[3]              =    ov02b10;

#[FeatureMsnrConfig] not need

[FeatureFSCSwitch]
    supportFSC = true
